:root {
  --color-surface-mixed-100: #494d49;
  --color-surface-mixed-200: #5b5f5b;
  --color-surface-mixed-300: #6e716e;
  --color-surface-mixed-400: #E6E6FA;
  --color-surface-mixed-500: #959795;
  --color-surface-mixed-600: #a9aba9;
  --color-primary-500: #a4cfa4;
  --color-primary-600: #d6ead6;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-surface-mixed-100);;
  color: #FFFFFF;
  font-family: 'DM Sans', sans-serif;
}
 
main {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: calc(100vh - 20px);
  width: 13%;
  background-color: var(--color-surface-mixed-300);
  border-radius: 15px;
  margin: 10px;
  border: 1px;
  border-style: solid;
  z-index: 2; /* To ensure it's above other content */
  overflow-y: auto; /* Enable scrolling if the content is taller than the viewport */
}

.b-example-divider { 
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle { outline: 0; }

.content {
  width: 100%; 
}

.titleBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-primary-500);
  color: #494d49;
  padding-top: 20px;
  padding-left: 35px;
  padding-bottom: 5px;
  z-index: 1;
}

.title {
  margin-left: 13%;
}

.dataEntry {
  background-color: var(--color-surface-mixed-600);
  border-radius: 50px;
  border: 0px;
  padding: 5px;
  padding-left: 15px;
  width: 100%;
}

#lastName:valid {
  background-color: var(--color-primary-600);
}

.clientIdentity {
  background-color: var(--color-surface-mixed-200);
  margin-left: 15%;
  margin-right: 50px;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 15px;
}

hr {
border-style: solid;
border-color: #9a949a;
width: 90%;
}

.btn-main {
  background-color: var(--color-primary-500);
}

.saveBar {
  display: flex;
  align-items: center;
  height: 60px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--color-surface-mixed-300);
  z-index: 1;
}

.saveButton {
  margin-left: auto; /* Push the button to the right */
  margin-right: 75px;
}


.form-check {
  margin-left: auto;
}

.col-border {
  border-right: 1px solid #000; /* Add a thin solid border on the right side */
  padding: 0 15px; /* Optional: Add padding to the columns for spacing */
  box-sizing: border-box; /* Optional: Include padding and border in the column's total width */
}

.chat-entry {
  padding: 15px;
  background-color: var(--color-surface-mixed-500);
  margin-bottom: 5px;
}

.customerChat {
    display: flex;
    flex-direction: column;
}

.customerChat-head {
  
}

.customerChat-body {
  height: 80vh;
  /* background-color: var(--color-primary-600); */
}